extends layout

block content
  .row
    .col-lg-4.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-favourite-28.text-primary
            .col-7.col-md-8
              .numbers
                p.card-category Oyunlar
                p.card-title=gamesCount
                p
        .card-footer
          hr
          .stats
            i.fa.fa-check
            |  Şuan
    .col-lg-4.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-money-coins.text-success
            .col-7.col-md-8
              .numbers
                p.card-category Yayıncılar
                p.card-title=companyCount
                p
        .card-footer
          hr
          .stats
            i.fa.fa-check
            |  Şuan
    .col-lg-4.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-globe.text-warning
            .col-7.col-md-8
              .numbers
                p.card-category Resim Dosya Boyutu
                p.card-title=size
                p
        .card-footer
          hr
          .stats
            i.fas.fa-hourglass-half
            =sizeDate
    .col-md-12
      .card
        .card-header
          h4.card-title Son Güncelenen Oyunlar
        .card-body
          canvas#chartActivityGames
        .card-footer
          hr
          .stats
            i.fa.fa-check
            | Şuan
    .col-md-6
      .card
        .card-header
          h4.card-title Aktiviteler
        .card-body
          canvas#chartActivity
        .card-footer
          hr
          .stats
            i.fa.fa-check
            | Şuan
    .col-md-6
      .card.card-tasks
        .card-header
          h4.card-title Kullanıcılar
          h5.card-category Son aktivite zamanları
        .card-body
          .table-full-width.table-responsive
            table.table
              tbody
                each item in JSON.parse(users)
                  tr
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button' rel='tooltip' title='' data-original-title='Edit Task')
                        i.far.fa-user
                    td.text-left=item.username
                    td.text-right=item.lastview
        .card-footer
          hr
          .stats
            i.fa.fa-check
            |  Şuan
  script(src='/javascripts/chart.min.js'  type='text/javascript')
  script.
    var users= !{ (users || 'null') } 
    var games= !{ (games || 'null') } 
    Colors = [
      "#E67E22",
      "#1ABC9C",
      "#2ECC71",
      "#3498DB",
      "#9B59B6",
      "#16A085",
      "#27AE60",
      "#2980B9",
      "#8E44AD",
      "#2C3E50",
      "#F1C40F",
      "#E74C3C",
      "#95A5A6",
      "#F39C12",
      "#D35400",
      "#C0392B",
      "#BDC3C7",
      "#7F8C8D",
      ]
    Colors2=[
      "#FF0000",
      "#FF8000",
      "#FFFF00",
      "#80112A",
      //"#80FF00",
      "#00FF00",
      "#00FF80",
      "#00FFFF",
      "#0080FF",
      "#0000FF",
      "#7F00FF",
      "#FF00FF",
      "#FF007F",
      "#808080",
      "#011030",
      "#558082",
      "#80AA80",
      "#9f9c57",
      "#ad1d45",
      "#a3c3ff",
      "#99228B",
    ]
    ctxg = document.getElementById('chartActivityGames').getContext("2d");
    var min=13;
    games.forEach(x=>{
      var tmp=[0,0,0,0,0,0,0,0,0,0,0,0]
       x.ver.split(",").forEach(y=> {
               var k= parseInt(y.split("-")[1]);
               if(min>k) min=k 
               tmp[k]++ ;
       })
       x.data=tmp
    })
    new Chart(ctxg, {
        type: 'bar',
        data: {
            labels: ["OCAK","ŞUBAT","MART","NİSAN","MAYIS","HAZİRAN","TEMMUZ","AĞUSTOS","EYLÜL","EKİM","KASIM","ARALIK"]/*.slice(min,new Date().getMonth()+1) */,
            datasets: games.map((x,i)=> { 
              return { label:x.n,data: x.data.slice(min),backgroundColor: Colors2[i]}
              }),
        },
        options: {
            scales: {
              y: {
                max: 5,
                min: 0,
                ticks: {
                    stepSize: 1
                    }
                }
            },
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
              onClick:function(a,e){
                  window.open("/game/"+games[e.datasetIndex].id,"_blank")
                  console.log(e.datasetIndex)
                },
            },
            title: {
              display: true,
              text: 'Yeni versiyonu eklenen son 15 oyun.'
            }
          }
        }
    });
    ctx = document.getElementById('chartActivity').getContext("2d");
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: users.map(x=> x.username) ,
            datasets: [{
                data: users.map(x=> x.navigate),
                borderWidth: 1,
                backgroundColor: Colors.slice(0, users.length),
            }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Kullanıcı aktivite durumu'
            }
          }
        }
    });
