doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/cedruspro.css')
    script(src='/javascripts/jquery.min.js')
    link(rel='stylesheet' href='/stylesheets/simply-toast.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css')
    script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js')
    script(src='https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.15/dist/browser-image-compression.js')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js')
    link(href='/stylesheets/jquery-confirm.min.css', rel='stylesheet')
    script(src='/javascripts/javascript1.js')
    script(src='/javascripts/simply-toast.min.js')
    title=(title || "Prototip" ) 
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
  body
    #shadow-mask(style="margin-left: -100%;width: 200%;margin-top: -50px;height: 200%;")
    #loader
    form#invisible_form(action='/previewV2' method='post' target='_blank')
      input#hiddenFormValue(name='value' type='hidden' value='')
    #dataid( data-id=  id || 0  )
    img.pre(src='/images/preview.png')
    img.pdf(src='/images/save.png')
    img.delete(src='/images/delete.png')
    if( link && link!=undefined )
      a(href="http://cedrusgames.com/gids/"+link+".html" target="_blank")
        img.ced(src='/images/link.png')
    //button#test(style="color:black") test    
    .top.s.renk1
      input#name
    div(style="width:100%")
      .s.p.renk1
        h2 MANTRA
        .add-dot •
        textarea#mantra( rows="2")
      h2.mt5 DESIGN
      .design-add +
      .s.mt2.renk1.pb7
        .splide.splide1(s-id='1')
          .splide-add +
          .splide__track
            ul#imgs.splide__list
              li.splide__slide
                .youtube Youtube
                .upload Video Yükle
                .yns 
                  input(hidden type="file")
                  img.slide-image(src="/images/dummy.jpg") 
                .yns
                  input(hidden type="file") 
                  img.slide-image(src="/images/dummy.jpg") 
      .links.f.fb
        .add-dot •
        textarea.note(placeholder="Not" rows="4" cols="50")
        .link-add +
        input.link(placeholder="Link")
        input.textlink(placeholder="Link Yazısı")
        br
    .s.renk1(style="width:100%")
      .p
        h2 CORE LOOP
        #loop1.f.fb
          .add-dot •
          textarea( rows="5")  
        h2.mt5 DYNAMICS
        .f.fb
          h2.ml0.mb1 GENRE
          #genre1 
            .add-dot •
            textarea( rows="2")     
          h2.ml0.mb1 PROGRESS
          #progress1
            .add-dot •
            textarea( rows="5")  
          h2.ml0.mb1 GOALS
          #goals1
            .add-dot •
            textarea( rows="2")
          h2.ml0.mb1 CHALLENGES
          #chalanges1
            .add-dot •
            textarea( rows="5") 
        h2.mt5 MECHANICS
        #mechanics1.f.fb
          .add-dot •
          textarea( rows="5") 
    script.
      String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
      };
      data=!{ (data || 'null') }
      var splideIndex=2
      var splides=[]
      $(function () {
      $( "body" ).delegate(".link-add","click",function(){
        $(this).parent().append(`<div class="link-remove">-</div><input placeholder="Link" class="link"/><input class="textlink" placeholder="Link Yazısı"><br/>`)
        })
      $( "body" ).delegate(".link-remove","click",function(){
        $(this).next().remove()
        $(this).next().remove()
        $(this).next().remove()
        $(this).remove()
        })
       $( "body" ).delegate(".add-dot","click",function(){
        $(this).next("textarea").val( $(this).next("textarea").val() + "\n•"   )
        })
      $( "body" ).delegate(".design-add","click",function(){
        $(this).parent().append(`
            <div class="design-remove">-</div>
            <div class="s mt2 renk1 pb7">
            <div class="splide splide${splideIndex}" s-id='${splideIndex}'>
              <div class="splide-add">+</div>
              <div class="splide__track">
                <ul class="splide__list" id="imgs">
                  <li class="splide__slide">
                   <div class="youtube" >Youtube</div>
                  <div class="upload" >Video Yükle</div>
                    <div class="yns"> <input hidden="" type="file"><img class="slide-image" src="/images/dummy.jpg">
                      <div class="center"> 
                        <div class="imgtxt">
                          <input placeholder="Resim içerik">
                        </div>
                      </div>
                    </div>
                    <div class="yns"><input hidden="" type="file"> <img class="slide-image" src="/images/dummy.jpg">
                      <div class="center"> 
                        <div class="imgtxt">
                          <input placeholder="Resim içerik">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="links f fb">
            <div class="add-dot">•</div>
            <textarea class="note" placeholder="Not" rows="4" cols="50"></textarea>
            <div class="link-add">+</div>
            <input class="link" placeholder="Link">
            <input class="textlink" placeholder="Link Yazısı">
            </br>
          </div>
        `)
      
        splides.push(new Splide('.splide'+splideIndex).mount())
        splideIndex++;
        })
      $( "body" ).delegate(".design-remove","click",function(){
        $(this).next().remove()
        $(this).next().remove()
        $(this).remove()
        });
      $( "body" ).delegate(".splide-add","click",function(){
        $(this).parent().find(".splide__list").append(`
              <li class="splide__slide">
                <div class="youtube" >Youtube</div>
                <div class="upload" >Video Yükle</div>
                <div class="yns"> 
                  <input hidden="" type="file">
                  <img class="slide-image" src="/images/dummy.jpg">
                  <div class="center"> 
                  </div>
                </div>
                <div class="yns">
                  <input hidden="" type="file">
                 <img class="slide-image" src="/images/dummy.jpg">
                  <div class="center"> 
                  </div>
                </div>
                <div class="splide-remove" >-</div>
              </li>
        `)
        splides[$(this).parent().attr("s-id") -1].refresh().go( '+1' )        
       })
      $( "body" ).delegate(".splide-remove,.splide-remove2","click",function(event){
        var tmpId=$(this).parent().parent().parent().parent().attr("s-id") -1
        $(this).parent().remove()
        splides[tmpId].refresh().go( '-1' )   
       });
      $("body").delegate(".slide-image","click",function(){
         $(this).parent().find("input").click();
      })
      $("body").delegate(".yns>input","change",function(){
          //readURL(this,$(this).parent().find(".slide-image"));
          imgSender(this)
        })
        function readURL(input,target) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $(target).attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
        function imgSender(e){
          var formData = new FormData();
          Object.keys(e.files).map(x=>{
            formData.append("file",e.files[x],JSON.stringify({ name: e.files[x].name}));
          });
          $(e).parent().find(".slide-image").css("width","128px").attr("src","/images/load.gif")
          $.ajax({
                type: "POST",
                url: "/ajax/image",
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    var r=JSON.parse(result)
                    $(e).parent().find(".slide-image").css("width","100%").attr("src","/prototip_files/"+r[0].fileName)
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR);
                    console.log(exception);
                }
            })
        }
        splides.push(new Splide('.splide1').mount())
      $( "body" ).delegate(".youtube","click",function(){
          var yurl=prompt("Youtube linkini giriniz!")
          if(yurl==null ||  yurl=="" || (yurl.indexOf("youtube")==-1 && yurl.indexOf("youtu.be")==-1) ){
            return
          }
            yurl=yurl.replace("https://www.youtube.com/watch?v=","https://www.youtube.com/embed/")
            yurl=yurl.replace("https://youtu.be/","https://www.youtube.com/embed/")

           var tmp=$(this).parent().parent().parent().parent()
           var tmpId=$(tmp).attr("s-id") -1
          $(this).parent().html(`<div class="splide-remove2" >-</div><div class="yns2">
            <iframe width="100%" height="100%" src="${yurl}"></iframe>
            <div class="center">
            </div>`)
         
          $(tmp).find(".splide-add").click()
          splides[tmpId].refresh()

       });
      $(".pdf").click(function () {
        $(".pre,.pdf,.delete,.ced").remove()
        Dynajax('prototype','n',formBasarili,null,true,generate());
      });
      $(".pre").click(function () {
        //v1  Dynajax('preview','n',preview,null,true,generate());
        //v2
        $('#hiddenFormValue').val(JSON.stringify(generate()));
        $('#invisible_form').submit();
      });
      $(".delete").click(function () {
        Dynajax('prototype','n',formBasarili,null,true,{id:$("#dataid").attr("data-id"),method:'delete'},true);
      });
      /*$("#test").click(function () {
        $('#hiddenFormValue').val(JSON.stringify(generate()));
        $('#invisible_form').submit();
      });*/
      if(data && data.data){
        var d=JSON.parse(data.data)
        $("#name").val(d.name)
        $("#mantra").val(d.mantra)
        $("#mechanics1 textarea").val(d.mechanics)
        $("#chalanges1 textarea").val(d.chalanges)
        $("#goals1 textarea").val(d.goals)
        $("#progress1 textarea").val(d.progress)
        $("#genre1 textarea").val(d.genre)
        $("#loop1 textarea").val(d.loop)
        for(i=0;i<d.notes.length-1;i++){
          $(".design-add").click()
        }
        for(i=0;i<d.notes.length;i++){
          $(".links").eq(i).find(".note").val(d.notes[i].note)
          for(j=0;j<d.notes[i].links.length;j++){
            if(j!=0){
              $(".links").eq(i).find(".link-add").click()
            }
            $(".links").eq(i).find(".link").eq(j).val(d.notes[i].links[j].link)
            $(".links").eq(i).find(".textlink").eq(j).val(d.notes[i].links[j].textlink)
          }
        }
        for(i=0;i<d.splide.length;i++){
          index=0
          for(j=0;j<d.splide[i].length;j++){
            if(index!=0){
              $(".splide-add").eq(i).click()
            }
            if(d.splide[i][j].type=="yns2"){
               $(".splide__list").eq(i).find("li").eq(index).html(`<div class="splide-remove2" >-</div><div class="yns2">
              <iframe width="100%" height="100%" src="${d.splide[i][j].link}"></iframe>
              <div class="center">
              </div>`)
              index++
              continue;
            }
            if(d.splide[i][j].type=="yns"){
              $(".splide__list").eq(i).find("li").eq(index).find(".slide-image").eq(0).attr("src",d.splide[i][j].link)
            }
            if( d.splide[i][j+1] && d.splide[i][j+1].type=="yns"){
              $(".splide__list").eq(i).find("li").eq(index).find(".slide-image").eq(1).attr("src",d.splide[i][j+1].link)
              j++
            }
            index++
          }
        }
      }
      });
      function generate(){
        var obj={}
        obj.id=$("#dataid").attr("data-id")
        obj.name=$("#name").val()
        obj.mantra=$("#mantra").val()
        obj.mechanics=$("#mechanics1 textarea").val()
        obj.chalanges=$("#chalanges1 textarea").val()
        obj.goals=$("#goals1 textarea").val()
        obj.progress=$("#progress1 textarea").val()
        obj.genre=$("#genre1 textarea").val()
        obj.loop=$("#loop1 textarea").val()
        obj.splide=[]
        obj.notes=[]
        for(i=0;i<$(".links").length;i++){
          obj.splide.push([])
          sp=$(".splide").eq(i).find(".splide__list>li")
          for(j=0;j<$(sp).length;j++){
            ynsc=$(sp).eq(j).find(".yns")
            for(y=0;y<$(ynsc).length;y++){
                obj.splide[i].push({ type:"yns",link:$(ynsc).eq(y).find(".slide-image").attr("src") })
            }
            yns2c=$(sp).eq(j).find(".yns2")
            for(y=0;y<$(yns2c).length;y++){
                obj.splide[i].push({ type:"yns2",link:$(yns2c).eq(y).find("iframe").attr("src") })
            }
          }
          tmp={}
          tmp.note=$(".links").eq(i).find("textarea").val()
          tmp.links=[]
          linkinput=$(".links").eq(i).find(".link")
          for(j=0;j<$(linkinput).length;j++){
             tmp.links.push({link:$(linkinput).eq(j).val() , textlink: $(".links").eq(i).find(".textlink").eq(j).val() })
          }
          obj.notes.push(tmp)
        }
        return obj
      }
