.row
  if data.search 
    .col-md-8 
    .col-md-4 
      -if(! data.searchCol) data.searchCol="text"
      .input-group.no-border#search-box.col-searcher(col=data.searchCol)
        input.form-control(type='text' value='' placeholder='Arama...' )
        .input-group-append
          .input-group-text
            i.nc-icon.nc-zoom-split
  .col-md-12
    .card
      .card-body
        .table-responsive
          table.table.table-shopping.table-striped.table-hover
            thead
              tr
                each key,i in data.tableHead
                  if key=="id" && i==0 
                    th(col="id") #
                  else 
                    th(col=data.tableHead[i])=data.turkce[i]
                      if data.orderBy==data.tableHead[i]
                        i.fa.fa-arrow-down
                if data.customNotifyText
                  t.text-center(col="notify")=data.customNotifyText    
                else if data.checkbox    
                  th.text-center(col="notify") Bildirim
                if data.skip    
                  th.text-center(col="skip") Takip kaldırma
                if data.checker    
                  th.text-center(col="checker") Sistem yayıncı takibi
                if data.customCheckbox!=undefined
                  th.text-center=data.customCheckbox
              tr
                -if(!data.dateIndex) data.dateIndex=[]
                -if(!data.soloDateIndex) data.soloDateIndex=[]
                -if(!data.special) data.special=[]
                each key,i in data.tableHead
                  -var special=data.special.find(x=> x.i-1==i)
                  th(col=data.tableHead[i] table=(special && special.q) ).col-searcher                    
                    if data.dateIndex.includes(i+1)
                      if data.soloDateIndex.includes(i+1)
                       .input-group.no-border
                          input.form-control.datepicker(type='text' value='' value-type="date" placeholder="Tarih seçiniz")
                      else
                        .input-group.no-border
                          input.form-control.datepicker(type='text' value='' extra="min" value-type="date" placeholder="Başlangıç tarihi")
                        .input-group.no-border
                          input.form-control.datepicker(type='text' value='' extra="max" value-type="date" placeholder="Bitiş tarihi")
                    else if special && special.t=="select"
                      select.border-secondary.custom-select.mb-2
                        option(value="") Hepsi
                        each s in data.static[special.k]
                          if s.id==special.d
                            option(value=s.id selected)=s[special.c]
                          else
                            option(value=s.id)=s[special.c] 
                    else   
                      .input-group.no-border
                        input.form-control(type='text' value='' placeholder=data.turkce[i] +" ara")
                if data.customNotifyText || data.checkbox 
                  th(col="notify").col-searcher
                    .form-check
                      label.form-check-label.text-center(for='cbn')
                        input.form-check-input(id="cbn" type='checkbox' name='cb'  )
                        span.form-check-sign
                if data.skip 
                  th(col="skip").col-searcher
                    .form-check
                      label.form-check-label.text-center(for='cbs')
                        input.form-check-input(id="cbs" type='checkbox' name='cb' disabled )
                        span.form-check-sign
                if data.checker 
                  th(col="checker").col-searcher
                    .form-check
                      label.form-check-label.text-center(for='cbc')
                        input.form-check-input(id="cbc" type='checkbox' name='cb'  )
                        span.form-check-sign
            tbody
.float-right#total 
.pager 
script. 
  var data=!{JSON.stringify(data)}
  data.orderType="D"
  data.orderBy=data.orderBy 
  data.current=1
  if(!data.srcTxt) data.srcTxt=[]
  function table(result){
    try{
      $(".table>tbody").html("");
      if(result.d[0]?.length){
        result.d[0].forEach(row=> {
            let tdExtra=""
            if (data.checkbox || data.customNotifyText  ){
              tdExtra+=`<td class="notify center"  onclick="notify(${row.id},this)"> 
                          <div class="form-check">
                            <label class="form-check-label" for="cb${row.id}">
                              <input class="form-check-input" id="cb${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${row.notify && row.notify==1 ? "checked" : "" }><span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>`
            }
            if(data.skip){
              tdExtra+=`<td class="center" >
                    <button class="btn btn-danger btn-icon btn-sm" type='button' rel='tooltip' onclick='skip(${row.id})'>
                    <i class="fa fa-times"></i>
                    </button> 
                  </td>`
            }
            if(data.checker){
              if(row.adi){
                tdExtra+=`<td class="checker center" onclick="checker(${row.id},this)"> 
                    <div class="form-check">
                      <label class="form-check-label" for="ccb${row.id}">
                        <input class="form-check-input" id="ccb${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${row.checker && row.checker==1 ? "checked" : "" }><span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>`
              }else{
                tdExtra+=`<td class="center" >
                    <i class="fa fa-times"></i>
                  </td>`
              }
            }
            if(data.customCheckbox!=undefined){
              let check=customCheckboxRender(row.id)  
              if( $("[row-id='"+row.id+"']").length==0 )
              tdExtra+=`<td class="center" ${data.customCheckbox}  onclick="customCheckbox(${row.id},this)"> 
                          <div class="form-check">
                            <label class="form-check-label" for="cu${row.id}">
                              <input class="form-check-input" id="cu${row.id}" type="checkbox" name="cb" onclick="event.stopPropagation();" ${check  ? "checked" : "" }><span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>`
            }
          let tr=`
              <tr class="tdata" row-id="${row.id}" onclick="${(data.link==undefined?"": "window.open('"+data.link+row.id+"', '_blank');")}">
                  ${data.tableHead.map((key,index)=>{
                    let td;
                    if(!data.dateIndex) data.dateIndex=[]
                    if(data.dateIndex.some(dt=>dt-1==index  )){
                      let tmp = row[key].substring(0,10).split("-")
                      td= tmp[2]+"-"+tmp[1]+"-"+tmp[0]
                    }else if(data.pp && index==0 && data.link){
                      td=`<div class="img-container"><img src="/games/${row.id}/0.jpg"></div>`
                    }else{
                      let special=data.special.find(x=> x.i-1==index)
                      if(special && special.c) td=row[special.c]
                      else td=row[key]
                    }
                    return "<td>"+ td +"</td>"
                  }).join("")}   
                  ${tdExtra}                       
              </tr>`
          $(".table>tbody").append(tr)
        })
        //pager
        var max ; 
        if(result.d[1][0].max)
        max = result.d[1][0].max;
        else max=99999
        $("#total").text(`Toplam Sayfa Sayısı:${Math.ceil(max / 16)}`)
        data.max = max < 16 ? 1 : Math.ceil(max / 16);
        var pager="";
        var tmpUrl= (data.pageLink!=null ? data.pageLink : data.link) + (data.table!=null ? data.table : "table/")
        if (data.current!=1){
          pager+=`<div class="pageButton"><a onclick="data.current=${ parseInt(data.current-1) };refresh()" href="javascript:void(0)">«</a></div>`
        }
        var i = 3,j=1; 
        while (i>0){
          if (data.current-i > 0){
            pager+=`<div class="pageButton"><a onclick="refresh(${ parseInt(data.current-i) })" href="javascript:void(0)">${data.current-i}</a></div>`
          }
          i--
        }
        pager+=`<div class="pageButton"><a class="active" href="javascript:void(0)">${data.current}</a></div>`
        while (j<4){
          if (data.current+j <= data.max){
            pager+=`<div class="pageButton"><a onclick="refresh(${ parseInt(data.current+j) })" href="javascript:void(0)">${data.current+j}</a></div>`
          }
          j++
        }
        if(data.current<data.max){
          pager+=`<div class="pageButton"><a onclick="refresh(${ parseInt(data.current+1) })" href="javascript:void(0)">»</a></div>`
        }
        $(".pager").html(pager)
      }else{
        $(".table>tbody").append(`<div>Tabloda veri yok.</div>`)
        $(".pager").html("")
        $("#total").text("")
      }
      
    }catch(error){
      console.log(error)
    }
  }
  $(function() {
    
    refresh()
    $("thead tr").eq(0).find("th").click(function(){
        var s=$(this).attr("col")
        if(s==data.orderBy){
          data.orderType= data.orderType=="A" ? "D" : "A"
        }else{
          data.orderBy=s
          data.orderType="D"
        }
        $("thead th>i").remove()
        $(this).append( data.orderType=="A" ? '<i class="fa fa-arrow-down"></i>' : '<i class="fa fa-arrow-up"></i>' )
        refresh()
    })
    $("thead .col-searcher input.datepicker").change(function(){
      if($(this).val().length==10){
        refresh(1,this)
      }
    })
    $("thead .col-searcher select,input[type='checkbox']").change(function(){
      refresh(1,this)
    })
    $("thead .col-searcher input").keyup(function(e){
        if(e.keyCode == 13)
        { 
          refresh(1,this)
        }
    });
    $('#search-box>input').keyup(function(e){
        if(e.keyCode == 13)
        { 
            refresh(1,this)
        }
    });
  });
  function refresh(c,_this){
    let k,v,e,t,q;
    if(_this){
      k=$(_this).closest( ".col-searcher" ).attr("col");
      if($(_this).attr("type")=="checkbox"){
        if(_this.checked) v=1
      }else v=$(_this).val()
      e=$(_this).attr("extra")
      t=$(_this).attr("value-type")
      q=$(_this).closest( ".col-searcher" ).attr("table")
    }
    if(c) {
      data.current=c;
    }
    if(k){
      let indx=data.srcTxt.findIndex(x=> x.k==k && x.q==q && x.e==e)
      if(indx>-1) data.srcTxt.splice(indx,1)
      if(v && v!="") {
        if(t){
          if(t=="date"){
            v=convertTime(v)
          }
        }
        data.srcTxt.push({k:k,v:v,e:e,q,q})
      }
    }
    var postData={ current:(data.current-1)*16,orderBy:data.orderBy,orderType:data.orderType,srcTxt:data.srcTxt }
    Object.assign(postData, data.sqlData);
    Dynajax('table/#{data.procedure}','x',table,null,false,postData);
    window.scroll(0,findPos(document.querySelector(".table")));
  }
  function skip(id){
    event.stopPropagation();
    Dynajax('skip','s',function(obj,callbackData){
       if(obj.status){
          showNotification('top','right',"success",obj.message);
          $(`[row-id='${id}']`).remove()
      }
    },{id:id},false,{ targetId:parseInt(id) },true);
    event.cancelBubble=true
  }
  function pdf(result){
    var output=[]
    output.push(result.d.col)
    result.d.data.forEach(x=> {
      let tmp=[]
      result.d.col.forEach(y=> tmp.push(x[y]))
      output.push(tmp)
    })
    download(output)
  }
if data.notifyLink
  script.
    function notify(id,_this){
        var tmpStatus=_this.querySelector("input[type='checkbox']").checked
        Dynajax('#{data.notifyLink}','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,id:#{ data.id && data.id!="table" ? data.id  :  "null" },targetId:parseInt(id)});
        event.stopPropagation();
    }    
else
  script.
    function notify(id,_this){
        event.stopPropagation();
        var tmpStatus=_this.querySelector("input[type='checkbox']").checked
        Dynajax('setNotify','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,typeId:#{  data.typeId ? JSON.stringify(data.typeId)  :  "null"  },targetId:parseInt(id)});
    }
if data.checker
    script.
      function checker(id,_this){
          event.stopPropagation();
          var tmpStatus=_this.querySelector("input[type='checkbox']").checked
          Dynajax('checker','l',setChecked,{t:_this,rc:tmpStatus},false,{ status:tmpStatus,targetId:parseInt(id)});
      }
      